<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Project</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="app.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="app.css">

</head>

<body>
    <div id="app">
        <div class="headerContainer">
            <h1>
                {{ welcomeMessage }}
            </h1>
        </div>

        <div class="cardsContainer">
            <h1 class="main-title">CoderMeals</h1>
            <div class="d-flex">
                <div v-for="producto in codermeals" :key="'prod-'+producto.id">
                    <codermeals class="card" :producto="producto" :listcart="listCart">
                    </codermeals>
                </div>
            </div>
        </div>

        <div v-if="listCart.length!=0">
            <h2 class="titleCarrito">Lista Carrito</h2>
            <div class="tableContainer">
                <table>
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Nombre</td>
                            <td>Foto</td>
                            <td>Precio</td>
                            <td>Cantidad</td>
                            <td>SubTotal</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="producto in listCart" :key="'prod-'+producto.id">
                            <div>
                                <td>{{producto.id}}</td>
                                <td>{{producto.titulo}}</td>
                                <td class="cartImage"><img :src="producto.portada" :alt="producto.titulo"></td>
                                <td>${{producto.costo}}</td>
                                <td>{{producto.bougth}}</td>
                                <td>$ {{producto.bougth*producto.costo}}</td>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>