<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Project</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="app.js"></script>
</head>

<body>
    <div id="app">
        <h2>V-IF Mostrar un texto cambiando valores de variables booleanas a traves de botones</h2>
        <button @click="toggleBool()">{{bool}}</button>
        <button @click="toggleBool2()">{{bool2}}</button>
        <button @click="toggleBool3()">{{bool3}}</button>
        <p v-if="computedBool">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non laudantium laborum aut animi
            omnis iusto
            incidunt dolore quis sapiente hic ducimus ratione voluptatem minus aliquid, molestiae similique libero quas
            perferendis?</p>
        <br>
        <br>
        <br>
        <h2>V-FOR de un array de objetos</h2>
        <div v-for="(item, index) in listaFrutas" :key="index">
            {{index}} - {{item.name}} - ${{item.price}}
        </div>
        <br>
        <br>
        <br>
        <h2>V-FOR - Creando una tabla a partir de un array de objetos</h2>
        <table>
            <thead>
                <th>
                    Index
                </th>
                <th>
                    Fruta
                </th>
                <th>
                    Precio
                </th>
            </thead>
            <tbody>
                <tr v-for="(fruta, i) in listaFrutas" :key="i">
                    <td>{{i}}</td>
                    <td>{{fruta.name}}</td>
                    <td>${{fruta.price}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <br>
        <h2>Directiva Style</h2>
        <p :style="{'color':'blue'}">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, itaque facilis
            voluptatem eligendi autem
            sequi, beatae, maiores adipisci esse inventore.</p>
        <p :style="{'color':'green'}">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, itaque facilis
            voluptatem eligendi autem
            sequi, beatae, maiores adipisci esse inventore.</p>
        <br>
        <br>
        <br>
        <h2>Tabla Dinamica</h2>
        <table>
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Oferta</td>
                    <td>Nombre</td>
                    <td>Precio</td>
                    <td>Tamaño</td>
                    <td>Editar</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,i) in listaMates" :key="'item'+i" :class="getColor(i)">
                    <div v-if="false">
                        <td>#{{i}}</td>
                        <td :class="item.oferta ? 'green':'red'">{{item.oferta ? 'SI' : 'NO'}}</td>
                        <td>Mate {{item.name}}</td>
                        <td>${{item.price}}</td>
                        <td :style="tamañoColor(size(item.width,item.height))">{{size(item.width,item.height)}}</td>
                        <td><button @click="toggleOferta(item)">PONER EN OFERTA</button></td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</body>
<style>
    .red{
        color: red;
    }
    .bg-red{
        background: red;
    }
    .gris{
        background: #ccc;
    }
    .blanco{
        background: #fff;
    }
    .blue{
        color: blue;
    }
    .green{
        color: green;
    }
    .bold{
        font-weight: bold;
    }
</style>

</html>